.homeSection {
    height: 100vh;
    width: 100%;
    background-image: url('/AnnaHome.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .contentOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  @media (max-width: 768px) {
    .homeSection {
      background-position: center;
    }
  }